{% import 'parts/content_fields.html.twig' as content_fields %}

<article class="view-type view-type-{{ view_type }} {{ item.object.getContentType().id }} vl2">
    {{ content_fields.teaserImage(item.object, "1062", "708") }}

    <header class="article-header">
        <h2 class="title"><a href="{{ path('cmf_routing_object', {'_route_object': item.object})|trim }}">{{ content_fields.teaserTitle(item.object) }}</a></h2>

        <div class="short">
            {{ content_fields.teaserIntro(item.object) }}
        </div>

        <div class="cta">
            <a href="{{ path('cmf_routing_object', {'_route_object': item.object})|trim }}">
                Read more
            </a>
        </div>
    </header>
</article>
